<div class="collapse bg-base-200 mb-4">
  <input type="checkbox" class="peer" />
  <div class="collapse-title bg-success text-success-content peer-checked:bg-secondary peer-checked:text-secondary-content font-bold underline">
    <%= t('.open_uploader') %>
  </div>
  <div class="collapse-content bg-success text-primary-content peer-checked:bg-secondary peer-checked:text-secondary-content">
    <%= link_to t('.category_edit'), admin_categories_path, class:"btn btn-warning" %>
    <p><%= link_to t('.import_csv'), "https://drive.google.com/drive/folders/1cmoB5nYNtiRaD91-FeLqWAZxc-uQCTkS?usp=drive_link", class:"btn btn-error" %></p>
    <p><%= render 'uploader', post: @post %></p>
    <p>現在の登録IDは、<%= Post.last.id %>です。</p>
  </div>
</div>
<div>
  <%= form_with url: admin_posts_path, method: :get, local: true do |form| %>
    <div class="mb-4">
      <%= form.collection_select :category_id, Category.all.order(id: :asc), :id, :name, { prompt:  t('defaults.message.select_default') }, class: "select select-bordered select-primary w-full max-w-xs" %>
      <%= form.submit "Filter", class: "btn btn-primary ml-2" %>
    </div>
  <% end %>
</div>
<% if @posts.present? %>
  <% if @posts.first.category_id == 1 %>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
      <%= render 'post1', posts: @posts %>
    </div>
  <% else %>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
      <%= render @posts %>
    </div>
  <% end %>
<% else %>
  <p><%= t('defaults.message.no_posts') %></p>
<% end %>