<% @posts.each do |post| %>
  <div class="card w-auto bg-base-100 shadow-xl m-2 border-4 border-indigo-300/75">
  <% if post.site_image.present? %>
    <%= image_tag(post.site_image, class: "w-full h-64") %>
  <% else %>
    <div class="w-full h-64 bg-gray-200 text-2xl"><%= post.app_name %></div>
  <% end %>
    <div class="card-body">
      <div class="card-title"><%= post.app_name %></div>
      <p class="card-actions justify-end font-bold"><%= post.graduating_class %>期&nbsp;&nbsp;<%= post.name %></p>
      <div class="badge badge-primary  badge-outline"><%= t('defaults.discryption') %></div>
      <div><%= post.discription %></div>
      <div class="badge badge-primary  badge-outline"><%= t('defaults.comment') %></div>
      <div><%= post.comment %></div>
      <div class="flex flex-row mt-5">
        <%= link_to t('defaults.cta'), post.app_url, target: '_blank', class:"btn btn-sm btn-secondary mr-1" %>
        <%= link_to t('defaults.watch_code'), post.github_url, target: '_blank', class:"btn btn-sm btn-outline mr-1" %>
      </div>
      <%= link_to t('defaults.post_comment'), post_path(post), class:"btn btn-sm btn-primary mt-2" %>
    </div>
  </div>
<% end %>
