<div class="flex-auto w-full lg:w-1/3 p-2">
  <div class="card w-auto bg-base-100 shadow-xl m-2 border-4 border-indigo-300/75">
    <iframe src=<%= post.app_url %> alt=<%= post.app_name %> class="w-full h-64" ></iframe>
    <div class="card-body collapse bg-base-200">
      <input type="checkbox" />
      <div class="collapse-title font-medium">
        <div class="card-title"><%= post.app_name %></div>
        <p class="card-actions justify-end font-bold"><%= post.graduating_class %>期&nbsp;&nbsp;<%= post.name %></p>
        <div class="link link-neutral">
          <%= t('defaults.show') %>
        </div>
      </div>
      <div class="collapse-content">
        <div class="badge badge-primary  badge-outline"><%= t('defaults.usage_technology') %></div><div><%= post.usage_technology %></div>
        <div class="badge badge-primary  badge-outline"><%= t('defaults.points_for_effort') %></div><div><%= post.points_for_effort %></div>
        <div class="badge badge-primary  badge-outline"><%= t('defaults.target_users') %></div><div><%= post.target_users %></div>
        <div class="badge badge-primary  badge-outline"><%= t('defaults.pain_point') %></div><div><%= post.pain_point %></div>
        <div class="badge badge-primary  badge-outline"><%= t('defaults.remedy') %></div><div><%= post.remedy %></div>
        <div class="badge badge-primary  badge-outline"><%= t('defaults.comment') %></div><div><%= post.comment %></div>
      </div>
      <div class="flex flex-row mt-5">
        <%= link_to t('defaults.cta'), post.app_url, target: '_blank', class:"btn btn-sm btn-secondary mr-1" %>
        <%= link_to t('defaults.watch_code'), post.github_url, target: '_blank', class:"btn btn-sm btn-outline mr-1" %>
      </div>
      <%= link_to t('defaults.post_comment'), post_path(post), class:"btn btn-sm btn-primary mt-2" %>
    </div>
  </div>
</div>
