<!DOCTYPE html>
<html>
  <head>
    <title>Runfes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="navbar bg-accent mb-8">
      <%= link_to t('defaults.app_admin'), admin_root_path, class:"btn btn-ghost normal-case text-xl" %>
    </div>
    <%= render 'shared/flash_message'%>
    <%= yield %>
  </body>
</html>