<!DOCTYPE html>
<html>
  <head>
    <title>RunteqFes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js"></script>
  </head>

  <body>
    <%= render 'shared/header'%>
    <h1 class="md:text-4xl m-4 font-bold text-orange-600 flex justify-center text-3xl link link-warning" id="confetti" onmousedown="party.confetti(this)"><%= link_to t('defaults.vote'), 'https://docs.google.com/forms/d/e/1FAIpQLSctHYJbO29gooF1Tlcw-o-Gv99g67OANd23ROKIi37MDX_ONg/viewform?usp=sf_link' %></h1>
    <div>
      <%= yield %>
    </div>
      </body>
</html>
